body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-mode {
  width: 200px;
  height: 40px;
  margin: 10px;
  background: bisque;
  border: 1px solid burlywood;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.24s ease;
}

.btn-mode:hover {
  background: burlywood;
}
